@import "../../variables.css";

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 16px;
  box-shadow: var(--box-shadow);
  max-width: 100%;
  background-color: white;
}

.search-bar-input {
  flex: 2;
  padding: 0.75rem 1.25rem;
  font-size: 0.95rem;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.search-bar-input:focus {
  border-color: var(--primary-color);
  background-color: #ffffff;
}

.search-bar-buttons {
  display: flex;
  gap: 0.5rem;
}

.search-bar-button,
.clear-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: var(--hover-shadow);
}

.search-bar-button {
  background-color: var(--primary-color);
  color: white;
}

.search-bar-button:hover {
  background-color: var(--secondary-color);
  transform: translateY(-3px);
}

.clear-button {
  background-color: #e5e7eb;
  color: #374151;
}

.search-bar-button:hover {
  background-color: var(--secondary-color);
  transform: translateY(-2px);
}

.clear-button:hover {
  background-color: #d1d5db;
  transform: translateY(-2px);
}

.sort-select,
.tag-input {
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  flex: 1;
}

.sort-select:hover,
.tag-input:hover {
  border-color: var(--primary-color);
}

.search-icon {
  font-size: 1.25rem;
}