@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "./variables.css";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #f9f9f9;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
  border: 3px solid #f9f9f9;
}

body {
  scrollbar-width: thin;
  -ms-overflow-style: none;
}

.container {
  padding: 3rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container.full-height {
  min-height: 100vh;
  justify-content: center;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 480px) {
  body {
    font-size: 90%;
  }

  .login-form {
    max-width: 95%;
    padding: 1rem;
  }

  .input-box,
  .btn-primary {
    font-size: 0.95rem;
  }
}